<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>장바구니</title>
</head>
<body>
<h2>장바구니</h2>
<div id="cartItems"></div>
<select id="addressSelect">
  <option value="">배송 주소를 선택해주세요</option>
  <!-- 타임리프를 사용하여 서버 사이드에서 주소 목록을 렌더링 -->
  <option th:each="address : ${addresses}"
          th:value="${address.id}"
          th:text="${address.city + ' ' + address.village + ' ' + address.province}"></option>
</select>
<p id="totalPrice">총 가격: 0원</p>
<button id="placeOrderBtn">주문하기</button>


<script>
  document.addEventListener('DOMContentLoaded', function() {

    displayCartItems();

    document.getElementById('placeOrderBtn').addEventListener('click', function(event) {
      event.preventDefault(); // 기본 동작 방지
      const selectedAddressId = document.getElementById('addressSelect').value;
      console.log(selectedAddressId);
      if (selectedAddressId) {
        placeOrder(selectedAddressId);
      } else {
        alert('배송 주소를 선택해주세요.');
      }
    });
  });


  function displayCartItems() {
    const cartItems = JSON.parse(localStorage.getItem('cart')) || [];
    let total = 0;
    const cartItemsContainer = document.getElementById('cartItems');
    cartItemsContainer.innerHTML = '';

    cartItems.forEach((item) => {
      const itemElement = document.createElement('div');
      itemElement.innerHTML = `
      <img src="${item.productPhoto}" alt="${item.productName}" style="width: 100px; height: auto;">
      <p>${item.productName}</p>
      <p>가격: ${item.productPrice}원</p>
      <p>수량: ${item.quantity}</p>
      <p>합계: ${item.productPrice * item.quantity}원</p>
    `;
      cartItemsContainer.appendChild(itemElement);
      total += item.productPrice * item.quantity;
    });

    document.getElementById('totalPrice').textContent = `총 가격: ${total}원`;
  }

  function placeOrder(addressId) {
    const cartItems = JSON.parse(localStorage.getItem('cart')) || [];

    // basket을 상품 ID와 수량으로 구성
    let basket = {};
    cartItems.forEach(item => {
      basket[item.productId] = item.quantity;
    });

    const orderRequest = {
      basket: basket,
      addressId: Number(addressId) // addressId를 숫자로 변환
    };

    console.log('Sending order:', orderRequest);

    fetch('http://localhost:8084/order', {
      method: 'POST',
      credentials: 'include',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(orderRequest)
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('주문 처리 실패');
      }
      return response.json();
    })
    .then(data => {
      alert('주문이 완료되었습니다.');
      localStorage.removeItem('cart'); // 주문 완료 후 장바구니 비우기
      window.location.href = 'orderComplete.html'; // 주문 완료 페이지로 리다이렉션
    })
    .catch(error => {
      console.error('Order error:', error);
      alert('주문 처리 중 오류가 발생했습니다.');
    });
  }




</script>
</body>
</html>
