<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>쇼핑몰 메인 페이지</title>
</head>
<body>
<form th:action="@{/}" method="get">
  <input type="text" id="searchBox" name="search" placeholder="상품 검색..." th:value="${search}">
  <button type="submit" id="searchBtn">검색</button>
</form>
<button id="basket" th:onclick="'window.location.href = \'' + @{/cart} + '\''">장바구니</button>
<button id="loginSignupBtn" th:if="${!isAuthenticated}" th:onclick="'window.location.href = \'' + @{/login} + '\''">로그인/회원가입</button>
<button id="logoutBtn" th:if="${isAuthenticated}" th:onclick="'window.location.href = \'' + @{/logout} + '\''">로그아웃</button>

<div id="productList">
  <div th:each="product : ${products}">
    <div>
      <img th:src="@{${product.photo}}" alt="Product Image" style="width:100px;height:auto;">
      <h3 th:text="${product.name}">Product Name</h3>
      <p th:text="${'가격: ' + product.price + '원'}">Price</p>
      수량: <input type="number" class="quantity" value="1" min="1" style="width: 50px;">
      <button class="addToCart">장바구니에 담기</button>
    </div>
  </div>
</div>

<!-- 로그인 상태가 아닐 때 오류 메시지를 표시할 수 있습니다 -->
<div th:if="${!isAuthenticated}">
  <p>로그인이 필요합니다.</p>
</div>

</body>
</html>
