<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${product.name}">상품 상세 페이지</title>
</head>
<body>
<div id="productDetail" th:data-product-id="${product.id}" th:data-product-name="${product.name}" th:data-product-price="${product.price}" th:data-product-photo="@{${product.photo}}">
  <h2 th:text="${product.name}"></h2>
  <img th:src="@{${product.photo}}" alt="상품 이미지" style="width: 300px;">
  <p th:text="'가격: ' + ${product.price} + '원'"></p>
  <p th:text="'설명: ' + ${product.description}"></p>
  <p th:text="'재고: ' + ${product.stock} + '개'"></p>
  <p th:text="'관리자: ' + ${product.adminname}"></p>
  <div>
    <label for="productQuantity">수량:</label>
    <input type="number" id="productQuantity" value="1" min="1" style="width: 50px;">
    <button class="addToCart" th:attr="data-product-id=${product.id}, data-product-name=${product.name}, data-product-price=${product.price}, data-product-photo=@{${product.photo}}">장바구니에 담기</button>
  </div>
</div>


<div id="reviewSection">
  <h2>상품 리뷰</h2>
  <p th:text="'평균 평점: ' + ${averageScore}"></p>
  <ul>
    <li th:each="review : ${reviews}">
      <div>
        <img th:src="${review.photo}" alt="리뷰 사진" style="width:100px;">
        <p th:text="'점수: ' + ${review.score}"></p>
        <p th:text="${review.content}"></p>
      </div>
    </li>
  </ul>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('.addToCart').addEventListener('click', function() {
      // 버튼에 설정된 `data-` 속성에서 상품 정보를 가져옵니다.
      const productId = this.getAttribute('data-product-id');
      const productName = this.getAttribute('data-product-name');
      const productPrice = this.getAttribute('data-product-price');
      const productPhoto = this.getAttribute('data-product-photo');

      // 수량 입력 필드에서 값을 가져옵니다.
      const quantityInput = document.getElementById('productQuantity');
      const quantity = quantityInput ? parseInt(quantityInput.value, 10) : 1;

      // 로컬 스토리지에 상품 정보와 수량을 저장하는 함수를 호출합니다.
      addToCart(productId, productName, productPrice, productPhoto, quantity);
    });
  });

  function addToCart(productId, productName, productPrice, productPhoto, quantity) {
    let cart = JSON.parse(localStorage.getItem('cart')) || [];
    const productIndex = cart.findIndex(item => item.productId === productId);

    if (productIndex !== -1) {
      cart[productIndex].quantity += quantity;
    } else {
      cart.push({
        productId: productId,
        productName: productName,
        productPrice: productPrice,
        productPhoto: productPhoto,
        quantity: quantity
      });
    }

    localStorage.setItem('cart', JSON.stringify(cart));
    alert('장바구니에 상품이 추가되었습니다!');
  }
</script>
</body>
</html>
